.container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 10rem 0 5rem 0;
}

.footer {
    color: var(--Gray-2, #4F4F4F);
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.toggle {
    color:var(--primary-text-color);
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-shrink: 0;
    word-spacing: 2px;
    cursor: pointer;
}

.label {
    color:var(--primary-text-color);
    font-size: 27px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 18px;
    flex-shrink: 0;
    word-spacing: 2px;
    cursor: pointer;
}

.light {
    --primary-text-color: #333;
}

.dark {
    --primary-text-color: #fff;
}

@media screen and (max-width: 850px) {
    .toggle {
        display: none;
    }
}